<div class="select-container">
    <div #select [ngClass]="{ open: isShowMenu }" class="select-field">
      <ng-container
        *ngIf="selectedItem?.text; then selectedValue; else placeholder"
      >
      </ng-container>
      <div class="arrow">&#x2039;</div>
    </div>
      <div *slide="!!(showMenu | async)" class="select-menu">
        <div [ngClass]="{ selected: selectedItem && selectedItem.text == item.text }" class="select-menu-item"
          (click)="onSelectItem(item)" *ngFor="let item of items">
          <div>{{ item.text }}</div>
        </div>
      </div>
  </div>
  
  <ng-template #placeholder>
    <div>Select Item</div>
  </ng-template>
  
  <ng-template #selectedValue>
    <div>{{ selectedItem?.text }}</div>
  </ng-template>